/* ========================== GERAL =============================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Lexend Deca';
    background-color: #F9F9F9;
    text-align: center;
}

.wrapper {
    max-width: 90rem;
    margin: auto;
}

/* ========================== HEADER =============================================== */

#header {
    padding-top: 4.1rem;
    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
    height: 25rem;

}

#header header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header input {

    width: 100%;
    margin-top: 7.3rem;
    height: 6.5rem;
}

#header h2 {
    color: #fff;
    font-size: 2.4rem;
}

/* ========================== CARDS =============================================== */

#posts .cards {
    padding-block: 10rem;

    display: flex;
    flex-direction: column;

    gap: 5rem;

}

#posts .card {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
}


#posts header {
    display: flex;
    justify-content: space-between;
    padding-top: 2.3rem;

    padding-inline: 2.4rem;

    color: #717171;

}

#posts header h4 {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: right;

    padding-bottom: 2.2rem;

    color: #717171;

}


#posts h1 {

    font-weight: 400;
    font-size: 2.6rem;
    line-height: 3.2rem;
    text-align: left;

    padding-inline: 2.4rem;

    color: #1A202C;
}

#posts p {

    font-size: 1.8rem;
    line-height: 32px;
    padding-inline: 2.4rem;
    text-align: left;
    padding-bottom: 2.5rem;


    color: #717171;
}