/* ========================== GERAL =============================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg-header: linear-gradient(88.27deg, #869C2B 0%, #5B7020 100%);
    --white: #FFFFFF;
    
    --gray-50: #F3F7F3;
    --gray-100: #C0BEBE;
    --gray-400: #717171;

    --gray-800: #151515;
    --gray-900: #121212;
    --green: #99B236;
    --transparent: rgba(255, 255, 255, 0.2);
}

body {
    font-family: 'Lexend Deca';
    text-align: center;
}

.wrapper {
    max-width: 90rem;
    margin: auto;
    padding-inline: 2rem;
}

/* ========================== HEADER =============================================== */

#header {
    padding-top: 4.1rem;
    background: var(--bg-header);
    height: 25rem;

}

#header header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header header > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#header h2 {
    color: var(--white);
    font-size: 2.4rem;
}

#header header > div button {
    background: transparent; 
    border: 0;
}


.ph-moon-bold, .ph-sun-bold {
    color: var(--gray-100);
    font-size: 1.6rem;
}

body .ph-moon-bold {
    display: none;
}

/* ========================== INPUT =============================================== */

#header .input-group {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
}

#header .input-group input {
    width: 90rem;
    height: 6.5rem;
    margin-left: 0 !important;
    border: none;
    border-radius: 0 5px 5px 0;
    background: var(--transparent);
    color: var(--white);
    font-size: 1.8rem;
}

#header .input-group input::placeholder {
    color: var(--white);
    opacity: 0.5;
}

#header .input-group input:focus {
    outline: 0;
}

#header .input-group span {
    background: var(--transparent);
    border: none;
    border-radius: 5px 0 0 5px;
    color: var(--white);
    padding-right: 2rem;
}


/* ========================== CARDS =============================================== */
#posts {
    background: var(--gray-800);
}



#posts .cards {
    padding-block: 10rem;

    display: flex;
    flex-direction: column;

    gap: 5rem;

}

#posts .card {
    background: var(--gray-900);
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
}


#posts header {
    display: flex;
    justify-content: space-between;
    padding-top: 2.3rem;
    padding-inline: 2.4rem;
}

#posts header h4 {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: right;

    padding-bottom: 2.2rem;

    color: var(--gray-400);

}


#posts a {

    font-weight: 400;
    font-size: 2.6rem;
    line-height: 3.2rem;
    text-align: left;

    padding-inline: 2.4rem;

    color: var(--green);
    text-decoration: none;
    display: block;
}

#posts p {

    font-size: 1.8rem;
    line-height: 32px;
    padding-inline: 2.4rem;
    text-align: left;
    padding-bottom: 2.5rem;


    color: var(--gray-100);
}


/* ========================== Theme-Light =============================================== */

.light .ph-sun-bold {
    display: none;
}

.light .ph-moon-bold {
    display: block;
    color: var(--gray-100);
}

.light #posts {
    background: var(--gray-50);
}

.light #posts .card {
    background: var(--white);
}

.light #posts p {
    color: var(--gray-400);
}